{% extends "layout.html" %}

{% block content %}
    <main class="container signup-section">
        <div class="section-content">
            <h2>Create an account</h2>
            
            <form method="POST" action="/signup">
                {{ form.hidden_tag() }}
                
                <div class="form-group">
                    {{ form.fist_name.label }}
                    {{ form.first_name }}
                </div>
                
                <div
                
            </form>
        </div>
    </main>